In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F


spark = SparkSession.builder.getOrCreate()
spark

In the following code we are reading from a text file, containing many rows, we want to count the total amount of words with the rows starting with "BG:".

In [2]:
df = spark.read.text("./data/biographies.list.gz")
df.show(truncate=False)

+-------------------------------------------------------------------------------+
|value                                                                          |
+-------------------------------------------------------------------------------+
|CRC: 0x72F64CB3  File: biographies.list  Date: Sat Dec 19 00:00:00 2015        |
|                                                                               |
|BIOGRAPHY LIST                                                                 |
|==============                                                                 |
|-------------------------------------------------------------------------------|
|NM: "Ghost", Matthew Clark                                                     |
|                                                                               |
|NK: Ghost                                                                      |
|                                                                               |
|HT: 5' 9"                                                                      |
|                                                                               |
|BG: Richard Matthew Clark was born and raised in southeastern, NC, in a        |
|BG: small town called, Chadbourn, NC.                                          |
|BG:                                                                            |
|BG: He has a tragic tale filled with emotion that becomes one with the         |
|BG: canvas he paints. Clark has a way through any media to lead you into a     |
|BG: world that traps your soul.                                                |
|BG:                                                                            |
|BG: His mother left him at six months old and his dad that's drinking almost   |
|BG: destroyed the both of them.                                                |
+-------------------------------------------------------------------------------+
only showing top 20 rows

In order to reach our aim, the following code: 
* Excludes all the rows whose start is different from "BG:".
* Removes all the punctuation
* Splits each row on blanks
* Removes from each resulting array all the empty strings
* Removes the `BG`'s ([sorry guys](https://images-na.ssl-images-amazon.com/images/I/71Qh%2BLuRE0L._AC_SX522_.jpg))
* Counts the number of words for each row
* Sums the number of of words in each row

In [3]:
df = (df      
      .where(F.col("value").startswith("BG:"))
      .select(F.regexp_replace("value", "\p{Punct}", "").alias("value"))
      .select(F.split(F.col("value"), '\s+').alias("value"))
      .select(F.array_remove("value", "").alias("value"))
      .select(F.array_remove("value", "BG").alias("value"))
      .select("value", F.size("value").alias("word_count"))
     )

df.show(truncate=False)

+-----------------------------------------------------------------------------------------+----------+
|value                                                                                    |word_count|
+-----------------------------------------------------------------------------------------+----------+
|[Richard, Matthew, Clark, was, born, and, raised, in, southeastern, NC, in, a]           |12        |
|[small, town, called, Chadbourn, NC]                                                     |5         |
|[]                                                                                       |0         |
|[He, has, a, tragic, tale, filled, with, emotion, that, becomes, one, with, the]         |13        |
|[canvas, he, paints, Clark, has, a, way, through, any, media, to, lead, you, into, a]    |15        |
|[world, that, traps, your, soul]                                                         |5         |
|[]                                                                                       |0         |
|[His, mother, left, him, at, six, months, old, and, his, dad, thats, drinking, almost]   |14        |
|[destroyed, the, both, of, them]                                                         |5         |
|[]                                                                                       |0         |
|[His, mother, came, back, into, his, life, when, he, was, twelve, only, to, attempt, to] |15        |
|[murder, him]                                                                            |2         |
|[]                                                                                       |0         |
|[Art, was, his, only, outlet, to, express, his, emotion, His, senior, year, in, High]    |14        |
|[School, he, excelled, in, the, arts, and, was, offered, a, full, scholarship, to]       |13        |
|[the, Parsons, School, of, Art, and, the, Art, Institute, as, well, as, an]              |13        |
|[internship, with, Marvel, and, Disney]                                                  |5         |
|[]                                                                                       |0         |
|[The, light, at, the, end, of, the, tunnel, was, soon, dimmed, as, he, had, to, put, his]|17        |
|[dad, in, a, rehab, clinic, and, drop, out, of, school, to, save, their, home]           |14        |
+-----------------------------------------------------------------------------------------+----------+
only showing top 20 rows

In [4]:
df = df.select(F.sum("word_count"))
df.show(truncate=False)

+---------------+
|sum(word_count)|
+---------------+
|25581588       |
+---------------+